button:focus {
    outline: 0
}

.add-recipe {
    background: $add-recipe-button;
    border: none;
    border-radius: $soft-edge-size;
    color: white;
    margin-bottom: 2rem;
    margin-left: $page-indent;
    padding: 1rem;
}