.flex-panel {
    display: flex;
}

.recipe-contents {
    margin-top: -0.5rem;
}

.recipe-contents button {
    margin-top: -0.5rem;
}

@media (max-width: 700px) {
  .flex-panel {
    flex-direction: column;
  }
}