// Colors
$back-panel: #F6F6F6;
$title-panel: #E3F2DD;
$ingredient-panel: #277F34;
$instruction-panel: #266931;
$add-recipe-button: #4E4E51;
$add-step-button: #BADCE8;
$delete-button: #FB2635;

// spacing
$dropdown-indent: 3rem;
$soft-edge-size: 0.5rem;
$page-indent: 5rem;
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

